* {
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 16px;
    
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 22
}